In [1]:
#define the function "say_hello" so it prints "hello!" when called 
def say_hello():
    print("Hello!")
    
#call the function 
say_hello()

Hello!

In [7]:
#define the function "say_something" so it prints whatever is passes as the variable when called 
def say_something(something):
    print(something)

In [8]:
#call the function 
say_something("Hello World!")

Hello World!

In [9]:
Jane_says="Hi my name is Jane. I am learning Python!"
say_something(Jane_says)

Hi my name is Jane. I am learning Python!

In [10]:
#4.7.8 the pandas map function 
# A list of my grades 
my_grades=['B','C','B','D']

#now we want to conver the list to a seried so import pandas
import pandas as pd
#convert my grades to a series 
my_grades=pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
#now we want to change B->A, C->B, D->C
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
#using format()
my_grades=[92.34,84.56,86.78,98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [13]:
#chaining map and format functions
#convert the numerical grades to series 
my_grades=pd.Series([92.34,84.56,86.78,78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [14]:
#format the grades to the nearest whole number percent 
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object