In [1]:
#list of high schools 
high_schools=["Hernandez High School", "Figuerao High School", "Wilson High School", "Wright High School"]

for school in high_schools: 
    print (school)

Hernandez High School
Figuerao High School
Wilson High School
Wright High School

In [3]:
#a list of dictionaries of high schools and the type of school. Remember a list of dictionaries is formatted as [{key 1: value 1, key 2: value 2}, {key 1: value 3, key 2: value 4}]
high_school_types=[{"High School": "Griffin","Type":"District"},
                  {"High School": "Figueroa", "Type": "District"},
                  {"High School": "Wilson", "Type": "Charter"}, 
                  {"High School": "Wright", "Type": "Charter"}]
for high_school in high_school_types: 
    print(high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [9]:
#4.3.5 Panda Series, list of high schools 
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
#add the Pandas dependency 
import pandas as pd 

#create a pandas series from a list 
school_series = pd.Series(high_schools)
school_series

for school in school_series: 
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [3]:
#4.3.5 Convert a list of dictionaries to dataframe 
#a dictionary of high schools 
high_school_dicts= [{"School ID":0,"School_Name":"Huang High School","Type":"Disctrict"},
                   {"School ID":1,"School_Name":"Figueroa High School","Type":"Disctrict"},
                   {"School ID":2, "School_Name":"Shelton High School", "Type":"Charter"}, 
                   {"School ID":3, "School_Name":"Hernandez High School", "Type":"District"}, 
                   {"School ID":4, "School_Name":"Griffin High School", "Type":"Charter"}]

#add the Pandas dependency 
import pandas as pd

#conveert the array or list of dictionaries into a dataframe 
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            School_Name       Type
0          0      Huang High School  Disctrict
1          1   Figueroa High School  Disctrict
2          2    Shelton High School    Charter
3          3  Hernandez High School   District
4          4    Griffin High School    Charter

In [5]:
#4.3.5 convert three seperate lists of information on high schools into a dataframe- adding each list seperatly, another method in cell below 
school_id=[0,1,2,3,4]

school_name= ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

type_of_school=["District","District","Charter", "District", "Charter"]

#add the Pandas dependency 
import pandas as pd

#Initialize a new Dataframe 
schools_df=pd.DataFrame()

#add the list to the new dataframe 
schools_df["School Id"]=school_id
schools_df["School Name"]=school_name
schools_df["Type"]=type_of_school

#print the dataframe 
schools_df

   School Id            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [8]:
#4.3.5 convert three seperate lists of information on high schools into a dataframe- creating a python dictionary from the lists then making a dataframe
school_id=[0,1,2,3,4]

school_name= ["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School"]

type_of_school=["District","District","Charter", "District", "Charter"]

#add the Pandas dependency 
import pandas as pd

#create a dictionaty of information on schools 
high_school_dict={'School ID': school_id,'School Name':school_name,'Type':type_of_school}

#conveert the array or list of dictionaries into a dataframe 
high_school_df=pd.DataFrame(high_school_dict)
high_school_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
#4.3.5 get the column names 
school_df.columns

#get the indicies (left hand margin numbers)
school_df.index

#get the values 
school_df.values

array([[0, 'Huang High School', 'Disctrict'],
       [1, 'Figueroa High School', 'Disctrict'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)